@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root,
canvas {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  /* background-image: url('images/bg.jpg');
  background-size: cover;
  background-position: center; */
}

body {
  margin: 0;
  background-color: black;
}
.counter {
  color: white;
  font-size: 2rem;
  font-family: Poppins;
  pointer-events: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@font-face {
  font-family: Poppins;
  src: url("/fonts/Poppins-Regular.ttf");
}
